div {
        border: 2px solid #43C6DB;
      }
      
      #asettelu {
        width: 1260px;
        margin-left: auto; /* <-- Keskittää lohkon suhteessa selainikkunaan */
        margin-right: auto;
      }

     #ylapalkki {
        height: 100px;
        background-color: #e6b8b8;
	border: 15px double #23e7bf;
      }
      .navigaatio {
        height: 35px;
overflow: hidden;
background-color:#333;
font-size:32;
color:white;
text-align:center;
      }
.navigaatio a{float: left;
color: #f2f2f2;
  text-align: center;
  padding: 8px 18px;
  text-decoration: none;
  font-size: 17px;
}
 
.navigaatio-right{float:right;}

#container::after {
        display: table;
        content: "";
        clear: both;
      } /* ClearFix ratkaisu. Ei tarvitse huomioda, mikä on seuraava elementti */

      #vasen {
        width: 25%;
        height: 800px;
        float: left;
        background-color: #E3FFFF;
	text-align:center;
      }
	
      #oikea {
        width: 99.8%;
        height: 800px;
         background-color: #E3FFFF;
      }

      #alapalkki {
        height: 20px;
       clear: both; /* kelluttaminen täytyy lopettaa */
        background-color: #333;
text-align:right;
padding: 10px 28px;

      }

body{background-color:lightblue;}
a{
color: #f2f2f2;
  text-align: center;
  padding: 10px 40px;
  text-decoration: none;
  font-size: 17px;

}
a:hover{background-color:#93AFAF;}
a.active{background-color: #93AFAF;
color:white;}
h1{font-size:52;
color:red;
text-align:center;
  }
