div {
        border: 3px solid #E6773C;
      }
      
      #asettelu {
        width: 1260px;
        margin-left: auto; /* <-- Keskittää lohkon suhteessa selainikkunaan */
        margin-right: auto;
      }

     #ylapalkki {
        height: 100px;
        background-color: #333;
	border: 15px double #FFE5B4;
      }
      .navigaatio {
        height: 38px;
overflow: hidden;
background-color:#333;
font-size:32;
color:white;
text-align:left;border-bottom:0;
padding:5px 34px;
    }
.navigaatio a{float: left;
color: #f2f2f2;
  text-align: center;
  padding: 8px 18px;
  text-decoration: none;
  font-size: 17px;
}
 
.navigaatio-right{float:right;
border: 0;
  }

#container::after {
        display: table;
        content: "";
        clear: both;
      } /* ClearFix ratkaisu. Ei tarvitse huomioda, mikä on seuraava elementti */

      #vasen {
        width: 25%;
        height: 450px;
        float: left;
        background-color: #333;
	text-align:center;
      }
#vasen a{font-size:25;
color:white;
padding-bottom:12px;
padding-left:1em;
display:inline;
}


      #oikea {
        width: 99.8%;
        height: 900px;
         background-color: #FFE5B4;
      }

      #alapalkki {
        height: 19px;
       clear: both; /* kelluttaminen täytyy lopettaa */
        background-color: #333;
text-align:right;
padding: 10px 28px;

      }

body{background-color:#EBEBD2;}
a{
color: #f2f2f2;
  text-align: center;
  padding: 10px 40px;
  text-decoration: none;
  font-size: 17px;

}
a:hover{background-color:#AFAF96;}
a.active{background-color: #93AFAF;
color:white;}
a:hover img {
all: unset;
}
h1{font-size:52;
color:red;
text-align:center;
  }
h2{color: black;
font-size 20;}

